%\showframe

% Setup layout
\usemodule[fullpage]

\setuplayout[
  topspace={.03\paperheight},
  height={.93\paperheight},
  backspace={.03\paperwidth},
  width=middle,
  margindistance=\zeropoint,
]

% No page numbering
\setuppagenumbering[location=,]
\setupbodyfont[10pt]

% Available modes
% --mode=letter:v
% --mode=letter:h
\startsetups pauta:letterv
  \setuppapersize
    [letter]
    [letter]
\stopsetups

\startsetups pauta:letterh
  \setuppapersize
    [letter,landscape]
    [letter,landscape]
\stopsetups

\definepapersize[octavo][width=25cm,height=35cm]
\definepapersize[medieval-folio][width=30cm,height=45cm]

\startsetups pauta:octavov
  \setuppapersize[octavo][octavo]
\stopsetups

\startsetups pauta:octavoh
  \setuppapersize
    [octavo,landscape]
    [octavo,landscape]
\stopsetups

\startsetups pauta:medieval-foliov
  \setuppapersize[medieval-folio][medieval-folio]
\stopsetups

\startsetups pauta:medieval-folioh
  \setuppapersize[medieval-folio,landscape][medieval-folio,landscape]
\stopsetups

\definemode[letter:v][keep]
\definemode[letter:h][keep]
\definemode[octavo:v][keep]
\definemode[octavo:h][keep]
\definemode[medieval-folio:v][keep]
\definemode[medieval-folio:h][keep]

\startmode[letter:v]
  \setup[pauta:letterv]
\stopmode

\startmode[letter:h]
  \setup[pauta:letterh]
\stopmode

\startmode[medieval-folio:v]
  \setup[pauta:medieval-foliov]
\stopmode

\startmode[medieval-folio:h]
  \setup[pauta:medieval-folioh]
\stopmode

\startmode[octavo:v]
  \setup[pauta:octavov]
\stopmode

\startmode[octavo:h]
  \setup[pauta:octavoh]
\stopmode
